.panel-info>.panel-heading {
    color: #31708f;
    background-color: #63b7e6;
    border-color: #bce8f1;
}
.btn-magenta {
    background-color: #f50087;
    margin-right: 0.5em;
    color: white;
}
.oc {
    background-color: #63b7e6;
    color: white;
}